
<div class="post-feed">
  
{% for post in postslist | reverse %}
<article class="post-card post">
  <a class="post-card-image-link" href="{{ post.url }}">
    
    {% if post.data.heroimage %}
    <img class="post-card-image heroimage" src="{{ post.data.heroimage }}" alt="{{ post.data.title }}" loading="lazy" />    
    {% elif post.data.image %}
    <img class="post-card-image image" src="{{ post.data.image }}" alt="{{ post.data.title }}" loading="lazy" />
    {% endif %}
  </a>
  <div class="post-card-content">
    <a class="post-card-content-link" href="{{ post.url }}">
      <header class="post-card-header">
        <h2 class="post-card-title">{{ post.data.title }}</h2>
      </header>
      <section class="post-card-excerpt">
        <p>{{ post.templateContent | excerpt | safe  }}</p>
      </section>
    </a>
    <footer class="post-card-meta">
      <div class="">
        <span class="post-list__meta"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> <span class="bull">•</span>
          <span class="post-list__tags">
          {% for tag in post.data.tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}">{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
          </span>
        </span>
      </div>
    </footer>
  </div>
</article>
{% endfor %}
</div>
