<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom 1.0">
    {% seo "" %}

    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/apple-touch-icon.png?v=1670219223610">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/favicon-32x32.png?v=1670219224099">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/favicon-16x16.png?v=1670219223859">
    <link rel="manifest" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/site.webmanifest?v=1670219287986">
    <link rel="icon" type= "image/x-icon" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/apple-touch-icon.png?v=1670219223610">
    
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.author.twitterHandle %}
      <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}

  </head>
  <body>
    <div class="layout-wrapper">

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>
          <nav class="nav">
            <ul class="nav__list">
                <li class="nav-item">
                  <a href="https://anildash.com/about">About</a>
                </li>
                <li class="nav-item">
                  <a href="/tags/Best%20Of/">Best Of</a>
                </li>
                <li class="nav-item">
                  <a href="https://twitter.com/anildash" target="_blank" rel="noopener noreferrer">@anildash</a>
                </li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="main">
        {{ content | safe }}
      </main>
<footer class="footer">
        <div class="footer__content">
          <ul class="hero__social-links">
            
                <li>      
                  <a href="{{ '/posts/' | url }}">All Posts</a>
                </li>

                <li>
                  <a href="https://glitch.com/edit/#!/remix/glitch-hello-eleventy" target="_blank" rel="noopener noreferrer">Remix on 🎏Glitch</a>
                </li>

                <li>
                  <a rel="me" href="https://mastodon.cloud/@anildash">@anildash@mastodon.cloud</a>
                </li>

                <li>
                  <a href="/feed.xml" target="_blank" rel="noopener noreferrer" id="rss-icon"><img src="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/rss.svg?v=1669925974414" alt="RSS" /></a>
                </li>
          </ul>
        </div>
      </footer>
<img src="https://anilytics-live.glitch.me/counter.png?fallback=MY_WEBSITE&color=black" alt="" style="display: none;" aria-hidden="true"  />
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "e5cc5287e2d64376a037d55c89e2fd28"}'></script>
  </body>
</html>