<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom 1.0">
    {% seo "" %}
    
{% if post.data.heroimage %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{heroimage}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{heroimage}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{heroimage}}">
    <link rel="icon" type= "image/x-icon" href="{{heroimage}}">
{% elif image %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{image}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{image}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{image}}">
    <link rel="icon" type= "image/x-icon" href="{{image}}">
{% else %}
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/apple-touch-icon.png?v=1670219223610">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/favicon-32x32.png?v=1670219224099">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/favicon-16x16.png?v=1670219223859">
    <link rel="icon" type= "image/x-icon" href="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/apple-touch-icon.png?v=1670219223610">

{% endif %}
    
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.author.twitterHandle %}
    <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}
    <meta name="fediverse:creator" content="@anildash@me.dm" />

  </head>
  <body>
    <div class="layout-wrapper">

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>
          <nav class="nav">
            <ul class="nav__list">
                <li class="nav-item">
                    <a rel="me" href="https://me.dm/@anildash">mastodon</a>
                </li>
                <li class="nav-item">
                    <a rel="me" href="https://bsky.app/profile/anildash.com">bluesky</a>
                </li>
                <li class="nav-item">
                    <a rel="me" href="https://www.threads.net/@anildash">threads</a>
                </li>
                <li class="nav-item">
                  <a href="https://anildash.com/about">about</a>
                </li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="main">
        {{ content | safe }}
      </main>
<footer class="footer">
        <div class="footer__content">
          <ul class="hero__social-links">
            


                <li>
                  <a href="https://glitch.com/edit/#!/remix/glitch-hello-eleventy" target="_blank" rel="noopener noreferrer">Remix on 🎏Glitch</a>
                </li>

                <li>
                  <a href="https://me.dm/@anildash" target="_blank" rel="noopener noreferrer">@anildash</a>
                
                </li>

                <li>
                  <a href="/feed.xml" target="_blank" rel="noopener noreferrer" id="rss-icon"><img src="https://cdn.glitch.global/c4e475b2-a54e-47e0-973c-ed0bd1b46262/rss.svg?v=1669925974414" alt="RSS" /></a>
                </li>

          </ul>
        </div>
      </footer>
  </body>
</html>