---
layout: layouts/base.njk
templateClass: tmpl-home
---


<header class="hero">
  <div class="hero-content">
    <div class="intro">
      {{ content | safe }}
    </div>

  </div>

</header>

<h2>
  Recent posts
</h2>

<section class="post-list__wrapper">

  {% set postslist = collections.posts | head(-12) %}
  {% include "posts-list.njk" %}

</section>

<a class="all-posts-link" href="{{ '/posts/' | url }}">View All Posts</a>

