---
layout: layouts/base.njk
templateClass: tmpl-home
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <div class="post__tags">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {% endfor %}
      </div>
    </div>

    {% if heroimage %}
    <figure class="heroimage" style="background-image: url({{heroimage}});">
      
    </figure>
    {% endif %}
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">

    <nav class="post__pagination">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>

<!--
{# This is the template for individual blog posts–it builds the front matter properties into the page #}

<div class="wrapper post">
  <div class="content">
  
  <div>
    {# The post front matter includes the title property #}
    <h1 class="postTitle">{{title}}</h1>
    {% if heroimage %}
    <figure class="heroimage">
      <img src="{{heroimage}}" alt="{{title}}" />
    </figure>
    {% endif %}

    {# Content from the body of the post markdown appears here #}
    {{ content | safe }}
    <div class="controls">
    {# The previous and next post data is added in .eleventy.js #}
    {% if prevPost.url %}
      <p>
        <strong>Previous post</strong>: 
        <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
    {% endif %}
    {% if nextPost.url %}
      <p>
        <strong>Next post</strong>: 
        <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
    {% endif %}
    </div>
  </div>
  </div>
</div>
-->